<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SabaApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WebViewTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA5232B01BD9D19E001CE64F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA5232C81BD9D19E001CE64F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FADD455E1AE8DE180022FE96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FADD45771AE8DE190022FE96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
